*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    font-family:  'Fire Sans',Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

body{
    box-sizing: border-box;
}


main {
    display: flex;
    flex-direction: column;
    padding: 0 10rem;
    margin: 0 0;
}

.blogs-display{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#nprogress .bar {
    height: 4px !important;
    background-color: rgb(255, 171, 14);
}

.ql-editor {
    min-height: 300px;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}


@media (max-width: 1200px){
    main {
        padding: 0 3rem;
    }

}

@media (max-width: 900px){
    main {
        padding: 0 1rem;
    }

}

