.smallcard {
    display: flex;
    flex: 1 0 15%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 30rem;
    max-height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0 ,0 ,0.2);
    overflow: hidden;
    margin: 20px;
    transition: all 0.25s;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 600px) {
    .smallcard{
        display: flex;
        flex: 1 0 40%;
    }
}


.smallcard:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.smallcard__image {
    width: 100%;
    height: 220px;
    cursor: pointer;
}

.smallcard__title {
    text-align: center;
    padding: 0 1rem;
    font-weight: 600;
}

.smallcard__description {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.smallcard__link {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
    margin-bottom: 1rem;
}