
.smallcard {
    display: flex;
    flex: 1 0 25%;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    text-align: center;
    max-width: 25%;
    max-height: 430px;
    border-radius: .5rem;
    border: 1px solid var(--color-white-2);
    box-shadow: 0 2px 2px rgba(0, 0 ,0 ,0.2);
    overflow: hidden;
    transition: all 0.25s;
    cursor: pointer;
    background: var(--color-white);
}

.smallcard:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.smallcard__image {
    width: 100%;
    height: 220px;
}

.smallcard__title {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    text-align: center;
    font-weight: 600;

}

.smallcard__description {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.smallcard__link {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
    margin-bottom: 1rem;
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 1100px) {
    .smallcard{
        display: flex;
        flex-basis: 33%;
        max-width: 33%;

    }
}



/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 600px) {
    .smallcard{
        display: flex;
        flex-basis: 50%;
        max-width: 50%;

    }
    .smallcard__title h4{
        font-size: 1.2rem;
    }
}

