.categories-list{
    display: flex;
  flex-wrap: wrap;

}

.categories-list__item{
    display: flex;
    flex-direction: column;
    flex: 1 0 10%;
    background: var(--color-primary-light-2);
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    color: var(--color-white);
    list-style-type: none;
    margin: .5rem .5rem;
    max-width: 100%;
    cursor: pointer;
    text-align: center;
    transition: all .3s;
    border: .1rem solid transparent;
}

.categories-list__item:hover{
    background: var(--color-primary-dark);
    border: .1rem solid var(--color-primary);
}