nav{
    background: var(--color-primary);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
    position: fixed;
    
  }
  .navbar__logo{
    color: var(--color-white);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    margin-bottom: 0;
    cursor: pointer;
    transition: transform .4s;
  }

  .navbar__logo:hover{
    transform: scale(1.2);
  }
  .search{
      display:flex;
      justify-content: center;
      align-items: stretch;
      flex-grow: 1;
  }

  .search__dropdown{
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    align-items: center;
    
  }

 

  .search__message{
    padding-top: 1.5rem;
    color: var(--color-gray-dark);
  }
  
  .search__link{
    color: var(--color-primary-light)
  }

  .search__link:hover, .search__link:active{
    text-decoration: none;
    color: var(--color-primary-dark);
  }

  .search__input{
      padding-left: 1rem;
      width: 60%;
      height: 2rem;
      border: 0;
      border-radius: 1rem;
      transition: all 1s;
  }

  .search__input:active, .search__input:hover{
    width: 80%;
    height: 2rem;
    border: 0;
    border-radius: 1rem;
}

  .search button{
    position: relative;
    left: -1rem;
    background: var(--color-white);
    border: 0;
    padding: 0 .8rem;
    
  }

  .search button:hover{
    color: var(--color-primary-dark);
  }

  .navbar__list{
    float: right;
    margin-right: 20px;
    padding:0;
    margin-bottom: 0;
  }
  .navbar__item{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    cursor: pointer;
    
  }
  .navbar__link{
    color: var(--color-white);
    font-size: 17px;
    padding: 1rem 1rem;
    border-radius: 3px;
    
    text-transform: uppercase;
  }
  .navbar__link:active,.navbar__link:hover{
    background: var(--color-primary-dark);
    transition: .5s;
    color: var(--color-white);
    text-decoration: none;
  }

  .navbar__link--light{
    background: var(--color-primary-dark);
  }

  .navbar__link--light:hover{
    background: var(--color-white-3);
    color: var(--color-primary-dark);
  }

  .checkbtn{
    font-size: 30px;
    color: var(--color-white);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  @media (max-width: 1300px){
    .navbar__link{
      font-size: 1rem;
    }

    .navbar__logo{
      display: none;
    }
  }


  @media (max-width: 858px){


    
    nav{
        display: flex;
        
        flex-direction: row-reverse;
        align-items: center;
        
        
    }
    .checkbtn{
      display: flex;
    }
    .navbar__list{
      padding: 0;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: var(--color-primary-dark-2);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    .navbar__item{
      display: block;
      margin: 2.5rem 0;
      line-height: 30px;
    }
    .navbar__link{
      font-size: 20px;
    }
    .navbar__link:hover,.navbar__link:active{
      background: none;
      padding: 1rem 2rem;
      background: var(--color-primary);
    }

    .navbar__link--light{
      background: var(--color-primary);
      padding: 1rem;
    }
  
    .navbar__link--light:hover{
      background: var(--color-white-3);
      color: var(--color-primary-dark);
    }

    #check:checked ~ .navbar__list{
      left: 0;
    }
  }




  
 